{
	"bind-host": "0.0.0.0",
	"bind-port": 5000,
	"servers": [
		{
			"mac": "00:00:00:00:00:00",
			"kernel": "http://mirror.centos.org/centos-8/8/BaseOS/x86_64/os/images/pxeboot/vmlinuz",
			"initrd": [ "http://mirror.centos.org/centos-8/8/BaseOS/x86_64/os/images/pxeboot/initrd.img" ],
			"cmdline": "method=http://mirror.centos.org/centos-8/8/BaseOS/x86_64/os devfs=nomount ip=dhcp"
		},
		{
			"mac": "11:11:11:11:11:11",
			"kernel": "http://mirror.centos.org/centos-8/8/BaseOS/x86_64/os/images/pxeboot/vmlinuz",
			"initrd": [ "http://mirror.centos.org/centos-8/8/BaseOS/x86_64/os/images/pxeboot/initrd.img" ],
			"cmdline": "method=http://mirror.centos.org/centos-8/8/BaseOS/x86_64/os devfs=nomount ip=dhcp"
		}
	]
}

